@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit;   
}
:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);

    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);

    --ff-main: 'outfit', sans-serif;
    --ff-headings: 'Young Serif', serif;
    --fs-main:1rem;
    --fs-headings: 1.75rem;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}
img {
    display: block;
    max-width: 100%;
    border-radius: 0.8rem;
}
body{
    font-family: var(--ff-main);
    font-weight: var(--fw-400);
    font-size: var(--fs-main);
    line-height: 1.5rem;
    color: var(--Wenge-Brown);
    background-color: var(--Eggshell);
    display: grid;
    place-items: center;

}

h1{
    font-family: var(--ff-headings);
    color: var(--Dark-Charcoal);
    font-size: var(--fs-headings);
    font-weight: var(--fw-600);
}

.recipe-title {
   margin-bottom: 1rem;

}

h2 {
    line-height: 1.2;
    font-family: var(--ff-headings);
    font-weight: var(--fw-400);
    color: var(--Nutmeg);

}

p {
    line-height: 1.6;
    color: var(--Wenge-Brown); 
}
.prep-title{
    color: var(--Dark-Raspberry);
    font-weight: var(--fw-700);
}
li{
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

div:not(first-child) {
    padding: 1.5rem; 
}
ol, ul{
    padding: 1.5rem;
}




.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color:hsl(228, 45%, 44%);
}
span {
   font-weight:var(--fw-700) ;
}
[data-cell="nutrition"] {
    color: var(--Wenge-Brown);
}
[data-cell="nutrition-value"] {
    color: var(--Nutmeg);
    font-weight: var(--fw-700);
}
li::marker {
    color:var(--Nutmeg);
    font-weight: var(--fw-600);
}

/* layout styles */

.recipe-wrapper{
    max-width: 45em;
    background-color: var(--White);
    margin: 2rem;
    padding: 1.75rem;
    display: grid;
    place-items: center;
    border-radius: 1rem;
}
.recipe-preparation {
    background-color: var(--Rose-White);
    border-radius: .5rem;
}
table{
   border-collapse: collapse;
   width: 100%;
}
tr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    border-bottom: 1px solid var(--Light-Grey);
}
@media (max-width: 500px){
    .recipe-wrapper{
        margin: 0;

        border-radius: 0;
        padding: 0;
    }
    img{
        border-radius: 0;
        margin: 1rem;
    }
    .recipe-container {
        padding: 0 1.75rem;
        
    }
    h2{
        margin: .8rem;
    }
}